!!! 5
%html
  %head
    %title Zimu Liu
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    %meta{ :content => "3 days", :name => "revisit-after" }
    %link(href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet")
    %link(rel="stylesheet" type="text/css" href="assets/index.css")
  %body
    Hello World!

