!!! 5
%html
  %head
    %title Zimu Liu
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    %meta{ :content => "3 days", :name => "revisit-after" }
    %link(href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet")
    %link(rel="stylesheet" type="text/css" href="assets/index.css")
  %body
    %h3 Hey!
    %p I'm Zimu, an enthusiastic computer scientist and software engineer. I obtained my M.A.Sc. and Ph.D degree in the Department of Electrical and Computer Engineering, University of Toronto, and started my career at 500px in 2014 as a Software Developer. In 500px, I grew into a Senior Software Developer, and then Web Team Lead, focusing on the front-end, back-end, and various proprietary algorithms of 500px.com. I'm currently an Engineering Manager, leading both the Web team and Innovation team at 500px.

    %section
      %h3 Working Experience
      %p Other than 500px, which is literally my first full-time job, I has been working in various places as independent contributor or consultant over the past few years.
      %ul
        %li
          %span Engineering Manager, <a href="https://about.500px.com/" target="_blank">500px Inc.</a>
          %span.time Jul 2016-present
        %li.clearfix
        %li
          %span Web Team Lead, <a href="https://about.500px.com/" target="_blank">500px Inc.</a>
          %span.time Oct 2015-Jul 2016
        %li.clearfix
        %li
          %span Senior Software Developer, <a href="https://about.500px.com/" target="_blank">500px Inc.</a>
          %span.time Jul 2015-Sep 2015
        %li.clearfix
        %li
          %span Software Developer, <a href="https://about.500px.com/" target="_blank">500px Inc.</a>
          %span.time Jan 2014-Jun 2015
        %li.clearfix
        %li
          %span Technical Consultant, <a href="https://edo36.wordpress.com/" target="_blank">EDO Mobile Health</a>
          %span.time Dec 2011-Apr 2012
        %li.clearfix
        %li
          %span Software Developer Intern, <a href="http://www.uusee.com/" target="_blank">UUSee Inc.</a>
          %span.time Aug 2009
        %li.clearfix
        %li
          %span Teaching Assistant, University of Toronto
          %span.time Jan 2008-Apr 2013
        %li.clearfix
        %li
          %span Software Developer Intern, <a href="http://www.uusee.com/" target="_blank">UUSee Inc.</a>
          %span.time Aug 2005
        %li.clearfix
        %li
          %span Software Developer, <a href="http://www.njupt.edu.cn/en/" target="_blank">Nanjing University of Posts and Telecommnunications</a>
          %span.time Jun 2005-Jul 2007
        %li.clearfix
        %li
          %span Software Developer Intern, Liuzhou Locomotive and Rolling Stock Works
          %span.time Jul 2004-Aug 2004
        %li.clearfix
        %li
          %span Software Developer, Liuzhou Railway No. 1 High School
          %span.time May 2002-Oct 2002
        %li.clearfix


    %section
      %h3 Research
      %p During my graduate studies, my research interests included design and implementation of reusable frameworks for mobile applications and cloud services, measurement studies on large-scale peer-to-peer applications and distributed systems, and applications of network coding on Internet protocols.



