body {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  line-height: 1.3em;
  margin: 40px 80px;
}

.right {
  float: right;
}

.multi_columns {
  columns: 3 300px;
}

.time {
  float: right;
  margin-left: 20px;
}

li {
  &:hover {
    background-color: #eeeff2;
  }

  &.clearfix {
    height: 0px;
    clear: both;

    &:before {
      display: inline;
      line-height: 0px;
    }
  }
}
.experience_item {
}

.clearfix {
  overflow: auto;
}
